@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-loved {
    @apply bg-gradient-to-r  from-[#7cfc21] to-[#fcf121] text-transparent bg-clip-text;
  }
  .bg-loved {
    @apply bg-gradient-to-r  from-[#7cfc21] to-[#fcf121] ;
  }
}

/* * {
  border: 1px dotted red;
} */

html,
body {
  padding: 0;
  margin: 0;
  background-color: #0f172a;
}


